<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="font-size: xx-large;" >Welcome to Fed Bank</div>
        <div class="col-4"></div>
    </div>
</div>
<form>
    <div class="mb-4 mx-5 mt-5">
        <label for="exampleInputEmail1" class="form-label" style="color:  rgb(7, 6, 6);">Account Number :</label>
        <input type="text" id="acno" class="form-control">
        <div id="emailHelp" class="form-text">We'll never share your account number with anyone else.</div>
    </div>
    <div class="mb-4 mx-5 ">
        <label for="exampleInputPassword1" class="form-label" style="color:  rgb(7, 6, 6);" >Password :</label>
        <input type="password" class="form-control" id="pwd">
    </div>
    <div class="mb-4 mx-5 ">
        <label for="exampleInputPassword1" class="form-label" style="color: rgb(7, 6, 6);" >Amount</label>
        <input type="password" class="form-control" id="amt">
    </div>
    
    <button type="button"  class="btn btn-primary mx-5 " >Withdraw</button>
    <button type="button"  class="btn btn-primary mx-5 " >Deposit</button>
</form>

