<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="font-size: xx-large;">Fed Bank Registration</div>
       

        <div class="col-4"></div>
    </div>
</div>
<form>
    <div class="mb-4 mx-5 mt-5">
        <label for="exampleInputEmail1" class="form-label" style="color: rgb(7, 3, 3);">Username :</label>
        <input type="text" id="uname" class="form-control">
    </div>
    <div class="mb-4 mx-5 mt-5">
        <label for="exampleInputEmail1" class="form-label" style="color: rgb(7, 3, 3);">Account Number :</label>
        <input type="text" id="acno" class="form-control">
    </div>
    <div class="mb-4 mx-5 ">
        <label for="exampleInputPassword1" class="form-label" style="color: rgb(7, 3, 3);">Password :</label>
        <input type="password" class="form-control" id="pwd">
    </div>

    <button type="button" class="btn btn-primary mx-5 ">Register</button>

</form>